ol li:nth-child(even) {
    background-color: #f0f0f0;
    }
        
ol li:nth-child(odd) {
    background-color: #ffffff;
    }
        
ol li::before {
    content: "==> ";
    }
        
ol li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
    }
        
ol li.hecha::after {
    content: " \\/";
    }